.emacs.d/ido.last
.emacs.d/smex-items
.emacs.d/undo-tree-history/
.emacs.d/undo-tree-history/

.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/places
.emacs.d/recentf    
.emacs.d/auto-save-list/

.oh-my-zsh/
.config/Code/

.config/pulse/
.config/vlc/
.config/xfce4/
.config/Thunar

.config/zsh/.zcompdump*
.config/zsh/.zcompdump-*
.config/zsh/.zcompdump-fedora-5.9
.config/zsh/.zcompdump-fedora-5.9.zwc
